{% extends 'base.html' %}


{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-primary text-white">
        <h3 class="mb-0">Pickup Goods</h3>
    </div>

    <div class="card-body">

        <h5 class="mb-4">
            Customer:
            <strong>{{ customer.full_name }}</strong>
        </h5>
        {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Product</label>

                <select name="product"
                        class="form-select"
                        required>

                    <option value="">
                        Select Product
                    </option>

                    {% for product in products %}
                    <option value="{{ product.id }}">
                        {{ product.product_name }}
                        -
                        {{ product.unit_price }}
                    </option>
                    {% endfor %}

                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Item Quantity</label>

                <input type="number"
                       name="quantity"
                       class="form-control"
                       min="1"
                       required>
            </div>

            <button type="submit"
                    class="btn btn-primary">
                Confirm Pickup
            </button>

            <a href="{% url 'customer_scheme_detail' customer.id %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}